@font-face {
    font-family: 'icomoon';
    src: url('../font/icomoon.eot');
    src: url('../font/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../font/icomoon.woff') format('woff'),
    url('../font/icomoon.ttf') format('truetype'),
    url('../font/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'Proxima Nova';
}

body{
    margin: 0;
}

/* Configuração dos blocos */
.containerFull{
    width: 100%;
    display: block;
}

.containerCenter{
    width: 100%;
    max-width: 1120px;
    display: table;
    margin: 0 auto;
}

/* Inicia header do site */
.header{
    background: #fff159;
}

.header__up{
    width: calc(100% - 20px);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
}

.header__up--logo{
    width: 45px;
    height: 50px;
    display: inline-flex;
    align-items: center;
}

.header__up--logo img{
    width: 100%;
    height: auto;
    display: block;
}

.header__up--busca{
    width: calc(100% - 135px);
    height: 50px;
    display: inline-flex;
    align-items: center;
    margin: 0 10px;
    transition: all linear .1s;
}

.header__up--buscaBtn{
    width: 40px;
    height: 32px;
    display: inline-block;
    background: #fff;
    border: 0;
    position: relative;
    border-radius: 3px 0 0 3px;
}

.header__up--buscaBtn::after{
    content: '\e905';
    font-family: 'icomoon';
    display: block;
    color: #aaa;
    font-size: 13px;
    font-weight: 500;
}

.header__up--buscaBtn:focus{
    outline: none;
}

.header__up--buscaInput{
    width: calc(100% - 40px);
    height: 32px;
    padding: 0;
    border: 0;
    border-radius: 0 3px 3px 0;
}

.header__up--buscaInput:focus{
    outline: none;
}

.header__up--buscaInput::-webkit-input-placeholder {
    color: #aaa;
    font-size: 15px;
    font-family: 'proxima_nova_ltthin';
}
  
.header__up--buscaInput::-moz-placeholder {  /* Firefox 19+ */
    color: #aaa;  
    font-size: 15px;
    font-family: 'proxima_nova_ltthin';
}
  
.header__up--buscaInput:-ms-input-placeholder {  
    color: #aaa;  
    font-size: 15px;
    font-family: 'proxima_nova_ltthin';
}

/* Active */
.header__up--busca.active{
    width: 100%;
    position: absolute;
    background: #fff;
    margin: 0;
    left: 0;
    top: 0;
    transition: all linear .1s;
}

.header__up--busca.active .header__up--buscaBtn::after{
    content: '\f104';
    font-family: 'fontAwesome';
    display: block;
    color: #333;
    font-size: 13px;
}

.header__up--CloseBtn{
    width: 20px;
    height: 20px;
    position: absolute;
    background: #fff159;
    display: none;
    top: 0;
    right: 0;
}

.header__up--btnMenu{
    width: 30px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.header__up--btnMenu::after{
    content: '\e900';
    font-family: 'icomoon';
    font-size: 23px;
    font-weight: 100;
}

.header__up--carrinho{
    width: 30px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.header__up--carrinho::after{
    content: '\e901';
    font-family: 'icomoon';
    font-size: 23px;
}

.header__down{
    width: calc(100% - 36px);
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
}

.header__down--iconMarker{
    width: 12px;
    height: 39px;
    display: inline-flex;
    justify-content: end;
    align-items: center;
}

.header__down--iconMarker a::after{
    content: '\e902';
    font-family: 'icomoon';
    font-weight: 650;
    font-size: 15px;
    color: #736c28
}

.header__down--text{
    width: calc(100% - 24px);
    height: 39px;
    display: inline-flex;
    justify-content: end;
    align-items: center;
    margin: 0 5px;
}

.header__down--text a{
    font-size: 13px;
    color: #736c28;
}

.header__down--iconArrow{
    width: 12px;
    height: 39px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.header__down--iconArrow a::after{
    content: '\e903';
    font-family: 'icomoon';
    font-size: 10px;
    color:#c1b74d;
}

/* Finaliza header do site */


/*inicio nav*/

.menu__login{
    width: 100%;
    height: auto;
    display: block;
    padding: 18px 24px;
    box-sizing: border-box;
}

.menu__info{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu__info--icon{
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 15px 0 0 ;
    background: #ededed;
    border-radius: 50%;
}

.menu__info--text{
    width: calc(100% - 71px);
    height: auto;
    display:inline-block;
}

.menu__info--text h3{
    font-size: 16px;
    margin: 4px 0; 
    line-height: 1;
}

.menu__info--text p{
    font-size: 14px;
    color:  rgba(0,0,0,.45);
    line-height: 1.14;
}

.menu__login--buttons{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 15px;
}

.buttonLogin{
    width: 100%;
    height: 40px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    border-radius: 3px;
    font-weight: 600;
    background: #3484fa;
    color: white
}

.buttonCreateLogin{
    width: 100%;
    height: 40px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    border: 1px solid #3484fa;
    background: white;
    font-weight: 600;
    color: #3484fa;
}





/* Inicia slide principal do site */

.mainSlide{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}

.mainSlide__img{
    width: 100%;
    height: auto;
    display: block;
}

.mainSlide__img img{
    width: 100%;
    height: auto;
    display: block;
}

/* inicia a configuração das setas */

.mainSlide .slick-arrow{
    position: absolute;
    background: transparent;
    border: 0;
    text-indent: -9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none!important; /* Retirar para usar as setas do slide */
}

.mainSlide .slick-arrow::after{
    display: block;
    font-family: 'icomoon';
    font-size: 18px;
    text-indent: 0;
}

.mainSlide .slick-prev{
    left: 10px;
    z-index: 1;
}

.mainSlide .slick-prev::after{
    content: '\e904';
    font-family: 'icomoon';
}

.mainSlide .slick-next{
    right: 10px;
}

.mainSlide .slick-next::after{
    content: '\e903';
    font-family: 'icomoon';
}

/* Finaliza a configuração das setas */

/* Inicia a configuração dos dots */
    
.mainSlide .slick-dots{
    width: auto;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 10px;
}

.mainSlide .slick-dots li{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.mainSlide .slick-dots li button{
    width: 6px;
    height: 6px;
    display: inline-block;
    text-indent: -9999px;
    background: rgba(255, 255, 255, .6);
    border: 1px solid #666;
    border-radius: 50%;
    padding: 0;
    transition: all linear .5s;
}

.mainSlide .slick-dots .slick-active button{
    width: 10px;
    height: 10px;
    background: #fff;
    transition: all linear .5s;
}

/* Finaliza a configuração dos dots */

/* Finaliza slide principal do site */

.mainPayment{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
   background-color: white;  
}

.mainPayment__card{
    width: 47px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 16px 0 0;
    border: solid #ccc 0.50px;
    border-radius: 50%;
}

.mainPayment__card img{
    width: 32px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainPayment__info p{
    width: 100%;
    height: 25px;
    margin: 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.mainPayment__info a{
    width: 100%;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 14px;
    color: #3483fa;
}

/* inicio vitrine recomendações*/

.mainRecommendations__list{
    width: 100%;
    height: auto;
    background-color: #ebebeb;
    display: block;
    padding-top: 10px;
}

.mainRecommendations__header{
    width: calc(100% - 20px);
    height: 45px;
    margin: 24px 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 5px 5px 0 0;
}

.mainRecommendations__header a{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 16px;
    font-size: 18px;
    color: #333;
}

.mainRecommendations__itenslist{
    background: white;
    margin: 0 10px;
    display: block;
    border-top: 1px solid #ededed;
}

.mainRecommendations__itensList--item{
    width:100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-block-end:1px solid #ededed; ;
}

.mainRecommendations__itensList--item img{
    width: 104px;
    height: 104px;
    display: inline-block;
}

.mainRecommendations__itenslist--info{
    width: calc(100% - 104px);
    height: auto;
    padding: 7px 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.mainRecommendations__itenslist--name{
    width: 100%;
    height: auto;
    display: block;
}

.mainRecommendations__itenslist--name p{
    font-size: 14px;
}

.mainRecommendations__itensList--values{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.mainRecommendations__itensList--price p{
    font-size: 20px;
}

.mainRecommendations__itensList--discount{
    width: 100%;
    display: flex;
    align-items: flex-end;
    padding-left: 5px;
}
.mainRecommendations__itensList--discount p{
   
    font-size: 12px;
    color: #00a650;
}

.mainRecommendations__itensList--installment{
    width: 100%;
    display: block;
}
.mainRecommendations__itensList--installment p{
    font-size: 12px;
    color: #00a650;
}

.mainRecommendations__viewMore{
    width: calc(100% - 20px);
    height: 45px;
    margin: 0 10px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 0 0 5px 5px;
}

.mainRecommendations__viewMore a{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 16px;
    font-size: 14px;
    color: #3483fa;
    font-family: 'proxima_nova_ltsemibold';
}

.mainRecommendations__viewMore--iconArrow{
    width: 12px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainRecommendations__viewMore--iconArrow::before{
    content: '\e903';
    font-family: 'icomoon';
    font-size: 10px;
    color:#3483fa;
}

/* final vitrine recomendações*/

/* inicio container registro*/
.mainRegistration{
    width: calc(100% - 20px);
    height: auto;
    margin: 0 10px;
    display: block;
   background: white;
    border-radius: 5px 5px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}

.mainRegistration__info{ 
    width: calc(100%- 20px);
    height: auto;
    display: flex;
    align-items: center;
    justify-self: center;
    margin: 0 10px 24px 10px;
    flex-wrap: wrap;
}

.mainRegistration__info--title{
    width: 100%;
    height: auto;
    margin: 15px 10px 0 10px;
    display: flex;
    align-items: flex-end;
    justify-self: flex-start;
}

.mainRegistration__info--title p{
    margin: 0 0 14px;
    font-size: 18px;
    font-family: 'proxima_nova_ltsemibold';
    color: black
}

.mainRegistration__Btn{
    background: #3483fa;
    width: 100%;
    height: 47px;
    display: block;
    border: 0;
    border-radius: 5px 5px;
    margin: 0 10px 12px 10px;
    font-size: 18px;
    color: white;
}

.mainRegistration__register{
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 16px 0 20px 0px;
}

.mainRegistration__register p{
    color: #666;
    font-size: 16px;
}

.mainRegistration__register a{
   color: #3483fa; 
   font-size: 16px;
   padding-left: 5px;
}

/* Final Registro*/

/* inicio propaganda*/

.mainAdvertising__Block{
    width: calc(100% - 20px);
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}

.mainAdvertising__info{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    padding: 20px 0 20px 20px;
}

.mainAdvertising__info--title{
    width: calc(100% - 10px);
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-self: start;
    margin: 0 0 10px;
}

.mainAdvertising__info--title p{
    font-size: 10px;
    letter-spacing: 2.5px;
}

.mainAdvertising__info-textBold{
    width: 100%;
    height: auto;
    display: block;
}

.mainAdvertising__info-textBold p{
    font-size: 20px;
    font-weight: 600;
    color: #4b4b4b;
}

.mainAdvertising__link{
    width: 100%;
    height: auto;
    display:flex;
    align-items: flex-end;
    flex-grow: 2;
}

.mainAdvertising__link a{
    font-size: 14px;
    font-weight: 600;
    color:#3483fa;
}

.advertising__image img{
    width: 153px;
    height: 190px;
    border-radius: 5px;
}

/* final propaganda*/
/*Inicio slide lojas oficiais*/

.OfficialStores{
    width: 100%;
    height: auto;
    display: block;
    margin: 25px 0 35px;
}

.officialStores__header{
    width: calc(100% - 20px);
    height: auto;
    display: flex;
    margin: 0 10px 16px 10px;
    align-items: center;
    justify-content: space-between;
}

.officialStores__header p {
    font-size: 18px;
    font-weight: 400;
    color: #666;
}

.officialStores__header a{
    font-size: 16px;
    font-weight: 600;
    color: #3483fa;
}

.officialStores__allSlide{
    width: 100%;
    display: block;
    overflow: auto;
    white-space: nowrap;
}

.officialStores__Slide{
    width: 328px;
    height: auto;
    display: inline-block;
    box-sizing: border-box;
    background: white;
    margin: 0 5px;
    border-radius: 5px;
}

.officialStores__Slide:first-child{
    margin-left: 10px;
}

.officialStores__Slide:last-child{
    margin-right: 10px;
}

.officialStores__Slide--img{
    width: 100%;
    height: 125px;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
}

.officialStores__Slide--img img{
    width: auto;
    height: 125px;
}

.officialStores__Slide--bottom{
    width: 100%;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.officialStores__Slide--bottom p{
    font-size: 16px;
    font-weight: 600;
}

.officialStores__Slide--bottom .brand{
    width: 80px;
    height: 80px;
    border-radius: 8.1px;
    box-shadow: 0 3px 16px 0 rgba(0,0,0,.1);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    overflow: hidden;
    position: absolute;
    top: -30px;
    left: 20px;
}

.officialStores__Slide--bottom .brand img{
    width: 100%;
    height: auto;

}
/*final lojas oficiais*/

/* inicio lista coleções*/

.mainCollections{
    width: 100%;
    height: auto;
    display: block;
    margin-top: 34px;
}

.mainCollections__section-header{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-block-end: 10px;
}

.mainCollections__arrow{
    width: 14px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mainCollections__arrow::before{
    content: '\e914';
    font-family: 'icomoon';
    font-size: 15px;
    font-weight: none;
    color:#3483fa;
}

.mainCollections__section-header p{
    font-size: 18px;
    margin-left: 20px;
}

.mainCollections__section-header a{
    font-size: 18px;
    margin: 0 10px 0 5px;
}

.mainCollections__Container{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}
.mainCollections__collectionList{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainCollections__collectionList ul{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.mainCollections__collectionList--item{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px 3px 3px 3px;
}

.mainCollections__collectionList--item a{
    display: inline-block;
    margin: 5px;
}

.mainCollections__collectionList--item a:first-child{
    margin-left: 10px;
}

.mainCollections__collectionList--item a:last-child{
    margin-right: 10px;
}

.mainCollections__collectionList--item img{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px 5px 5px 5px;
}

.mainCollections__moreSuggestions{
    width: calc(100% - 20px);
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 10px 10px 10px;
    border-radius: 5px 5px;
    background: white;
}

.mainCollections__moreSuggestions a{
    font-size:16px ;
    font-weight: 600;
    color: #3483fa;
}

/* final lista coleções*/

/* Inicio lista categorias*/

.mainCategories{
    width: 100%;
    height: auto;
    display: block;
}

.mainCategories__Container{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 24px;
}

.mainCategories__sectionHeader{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 5px;
}

.mainCategories__sectionHeader p {
    font-size: 18px;
    margin-left: 10px;
    color: #666;
}

.mainCategories__list{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.mainCategories__block{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mainCategories__item{
    width: 100%;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
    padding: 12px;
    border-radius: 5px;
    background: white;
}

.mainCategories__item:first-child{
    margin-left: 10px;
}

.mainCategories__item:last-child{
    margin-right: 10px;
}

.mainCategories__item a{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.mainCategories__item p{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 15px;
    font-size: 15px;
    color: #333;
}

.mainCategories__icon--Car{
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainCategories__icon--Car::after{
    content: '\e90e';
    font-family: 'icomoon';
    font-size: 50px;
    color:#3483fa;
    font-weight: 100;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
}

.mainCategories__icon--Cell{
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainCategories__icon--Cell::after{
    content: '\e90f';
    font-family: 'icomoon';
    font-size: 50px;
    color:#3483fa;
}

.mainCategories__icon--Shirt{
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainCategories__icon--Shirt::after{
    content: '\e910';
    font-family: 'icomoon';
    font-size: 50px;
    color:#3483fa;
}

.mainCategories__icon--Armchair{
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainCategories__icon--Armchair::after{
    content: '\e911';
    font-family: 'icomoon';
    font-size: 50px;
    color:#3483fa;
}

.mainCategories__icon--Oven{
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainCategories__icon--Oven::after{
    content: '\e912';
    font-family: 'icomoon';
    font-size: 50px;
    color:#3483fa;
}

.mainCategories__icon--Steeringwheel{
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainCategories__icon--Steeringwheel::after{
    content: '\e913';
    font-family: 'icomoon';
    font-size: 50px;
    color:#3483fa;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
}

.mainCategories__viewMore{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 10px 20px 10px;
    border-radius: 5px;
    background: white;
}

.mainCategories__viewMore a{
    font-size: 16px;
    font-family: 'proxima_nova_ltsemibold';
    color: #3483fa;
}

/* Final lista categorias*/

/*Inicio Slide Informações*/

.slideInfo{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: white;
}

.slideInfo__item{
    width: 100%;
    height: auto;
    display: flex!important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 35px 45px 20px;
    box-sizing: border-box;
    margin: 15px 0 35px;
}

.slideInfo__item--title {
    color: #4b4b4b;
    margin: 16px 0 0;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;
}

.slideInfo__item--text{
    color: #999;
    font-size: 15px;
    text-align: center;
    margin: 4px 0 10px;
    line-height: 1.2;
}

.slideInfo__item--link{
    color: #3483fa;
    font-size: 14px;
    text-align: center;
}

.slideInfo .slick-dots{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -30px;
}

.slideInfo .slick-dots li button{
    text-indent: -9999px;
    padding: 0;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 0;
    margin: 0 6px;
}

.slideInfo .slick-dots .slick-active button {
    background: #3483fa;
}

/*Final Slide Informações*/

/*Inicio propaganda footer*/

.advertisingApp{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 25px;
    box-sizing: border-box;
    border-top: 1px solid #ededed;
    background: #fff159;
}

.advertisingApp__img{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.18);
    border-radius: 5px;
    margin: 0 16px 0 0;
}

.advertisingApp__img img{
    width: 80%;
    height: auto;
}

.advertisingApp__text p{
    font-size: 16px;
    color: #333;   
    line-height: 1.11;
}
/*Final propaganda footer/

/*inicio menu footer*/

.footerNav{
    width: 100%;
    height: auto;
    display: block;
    padding: 26px 32px;
    box-sizing: border-box;
    border-top: 1px solid #ededed;
    background: white;
}

.footerNav__list{
    width: 100%;
    display:block;
}

.footerNav__list--item{
    width: 49%;
    display: inline-block;
}

.footerNav__list--item a{
    width: 100%;
    display: block;
    margin: 10.5px 0;
    padding: 0 10px 0 0;
    font-size: 14px;
    color: #333;
}

.nav-link-tag {
    display: inline-block;
    font-size: 11px;
    font-weight: 600;
    border-radius: 8px;
    padding: 2px 6px;
    text-transform: uppercase;
    color: #fff;
    background-color: #3483fa;
}

/*final menu footer*/

.footerUser{
    width: 100%;
    height: auto;
    display: block;
    padding: 22px 10%;
    box-sizing: border-box;
    border-top: 1px solid #ededed;
    background: white;
}

.footerUser__account{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 0 13px;
}

.footerUser__account a{
    display: flex;
    align-items: center;
    font-size: 16px;
    color:#3484fa;
}

.footerUser__account a:last-child::before{
    content: '';
    width: 1px;
    height: 20px;
    background: #ccc;
    display: inline-block;
    margin: 0 10px;
}

.footerUser__copyright{
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.footerUser__copyright p{
    font-size: 12px;
    color: #999;
}
