@font-face {
    font-family: 'icomoon';
    src: url('../font/icomoon.eot');
    src: url('../font/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../font/icomoon.woff') format('woff'),
    url('../font/icomoon.ttf') format('truetype'),
    url('../font/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'Proxima Nova';
}

body{
    margin: 0;
}

/* Configuração dos blocos */
.containerFull{
    width: 100%;
    display: block;
}

.containerCenter{
    width: 100%;
    max-width: 1120px;
    display: table;
    margin: 0 auto;
}

/* Inicia header do site */
.header{
    background: #fff159;
}

.header__up{
    width: calc(100% - 20px);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    border-bottom: 1px solid #c1b74d;
}

.header__up--logo{
    width: 45px;
    height: 50px;
    display: inline-flex;
    align-items: center;
}

.header__up--logo img{
    width: 100%;
    height: auto;
    display: block;
}

.header__up--busca{
    width: calc(100% - 135px);
    height: 50px;
    display: inline-flex;
    align-items: center;
    margin: 0 10px;
}

.header__up--buscaBtn{
    width: 40px;
    height: 32px;
    display: inline-block;
    background: #fff;
    border: 0;
    position: relative;
    border-radius: 3px 0 0 3px;
}

.header__up--buscaBtn::after{
    content: '\e905';
    font-family: 'icomoon';
    display: block;
    color: #aaa;
    font-size: 13px;
    font-weight: 600;
}

.header__up--buscaInput{
    width: calc(100% - 40px);
    height: 32px;
    padding: 0;
    border: 0;
    border-radius: 0 3px 3px 0;
}

.header__up--buscaInput::-webkit-input-placeholder {
    color: #aaa;
}
  
.header__up--buscaInput::-moz-placeholder {  /* Firefox 19+ */
    color: #aaa;  
}
  
.header__up--buscaInput:-ms-input-placeholder {  
    color: #aaa;  
}

.header__up--btnMenu{
    width: 30px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.header__up--btnMenu::after{
    content: '\e900';
    font-family: 'icomoon';
    font-size: 23px;
    font-weight: 100;
}

.header__up--carrinho{
    width: 30px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.header__up--carrinho::after{
    content: '\e901';
    font-family: 'icomoon';
    font-size: 23px;
}

.header__down{
    width: calc(100% - 36px);
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
}

.header__down--iconMarker{
    width: 12px;
    height: 39px;
    display: inline-flex;
    justify-content: end;
    align-items: center;
}

.header__down--iconMarker a::after{
    content: '\e902';
    font-family: 'icomoon';
    font-weight: 650;
    font-size: 15px;
    color: #736c28
}

.header__down--text{
    width: calc(100% - 24px);
    height: 39px;
    display: inline-flex;
    justify-content: end;
    align-items: center;
    margin: 0 5px;
}

.header__down--text a{
    font-size: 12px;
    color: #736c28;
}

.header__down--iconArrow{
    width: 12px;
    height: 39px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.header__down--iconArrow a::after{
    content: '\e903';
    font-family: 'icomoon';
    font-size: 10px;
    color:#c1b74d;
}

/* Finaliza header do site */

/* Inicia slide principal do site */

.mainSlide{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}

.mainSlide__img{
    width: 100%;
    height: auto;
    display: block;
}

.mainSlide__img img{
    width: 100%;
    height: auto;
    display: block;
}

/* inicia a configuração das setas */

.mainSlide .slick-arrow{
    position: absolute;
    background: transparent;
    border: 0;
    text-indent: -9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none!important; /* Retirar para usar as setas do slide */
}

.mainSlide .slick-arrow::after{
    display: block;
    font-family: 'icomoon';
    font-size: 18px;
    text-indent: 0;
}

.mainSlide .slick-prev{
    left: 10px;
    z-index: 1;
}

.mainSlide .slick-prev::after{
    content: '\e904';
    font-family: 'icomoon';
}

.mainSlide .slick-next{
    right: 10px;
}

.mainSlide .slick-next::after{
    content: '\e903';
    font-family: 'icomoon';
}

/* Finaliza a configuração das setas */

/* Inicia a configuração dos dots */
    
.mainSlide .slick-dots{
    width: auto;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 10px;
}

.mainSlide .slick-dots li{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.mainSlide .slick-dots li button{
    width: 6px;
    height: 6px;
    display: inline-block;
    text-indent: -9999px;
    background: rgba(255, 255, 255, .6);
    border: 1px solid #666;
    border-radius: 50%;
    padding: 0;
    transition: all linear .5s;
}

.mainSlide .slick-dots .slick-active button{
    width: 10px;
    height: 10px;
    background: #fff;
    transition: all linear .5s;
}

/* Finaliza a configuração dos dots */

/* Finaliza slide principal do site */

.mainPayment{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
   background-color: white;  
}

.mainPayment__card{
    width: 47px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 16px 0 0;
    border: solid #ccc 0.50px;
    border-radius: 50%;
}

.mainPayment__card img{
    width: 32px;
    height: 30px;
    display: center;
    justify-content: center;
    align-items: center;
}

.mainPayment__info p{
    width: 100%;
    height: 25px;
    margin: 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.mainPayment__info a{
    width: 100%;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 14px;
}

/* inicio vitrine*/

.mainRecommendations__list{
    width: 100%;
    height: auto;
    background-color: #ebebeb;
    display: block;
    padding-top: 10px;
}

.mainRecommendations__header{
    width: calc(100% - 20px);
    height: 50px;
    margin: 24px 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 5px 5px 0 0;
}

.mainRecommendations__header a{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 16px;
    font-size: 18px;
    color: #333;
}

.mainRecommendations__itenslist{
    background: brown;
    margin: 0 10px;
    display: block;
    border-top: 1px solid #ededed;
}

.mainRecommendations__itensList--item{
    width:100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: chartreuse;
    border-top: 1px solid #ededed;
}

.mainRecommendations__itensList--item img{
    width: 104px;
    height: 104px;
    display: inline-block;
}

.mainRecommendations__itenslist--info{
    width: calc(100% - 104px);
    height: auto;
    padding: 7px 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.mainRecommendations__itenslist--name{
    width: 100%;
    height: auto;
    display: block;
}

.mainRecommendations__itenslist--name p{
    font-size: 15px;
    background-color: chocolate;
}

.mainRecommendations__itensList--values{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mainRecommendations__itensList--values p{
    background-color: palevioletred;
}

.mainRecommendations__itensList--installment{
    width: 100%;
    display: block;
}
.mainRecommendations__itensList--installment p{
    
}


